<h1>Articles</h1>

Our blog has <%= Article.public_count %> articles and counting!

<ul>
  <% @articles.each do |article| %>
    <% unless article.archived? %>
      <li>
        <!--      <a href="/articles/<%#= article.id %>">-->
        <!--      <a href="<%#= article_path(article) %>">-->
        <%#= article.title %>
        <!--      </a>-->
        <%= link_to article.title, article %>
      </li>
    <% end %>
  <% end %>
</ul>

<%= link_to "New Article", new_article_path %>

<hr/>
<a href="https://dev-28219840.okta.com/app/dev-28219840_mysamldummyapp_1/exk7ds6bfkPLszKNm5d7/sso/saml">
  IDP initiated Login with SAML App Integration 1
</a>
<br/>
&nbsp;<a href="/auth/saml/company_naeem">
  SP initiated Login with SAML App Integration 1
</a>
<hr/>
<a href="https://dev-27371526.okta.com/app/dev-27371526_samplesamlapp_1/exk7e2ybcuv3mJUdc5d7/sso/saml">
  IDP initiated Login with SAML App Integration 2
</a>
<br/>
&nbsp;<a href="/auth/saml/company_vidya">
  SP initiated Login with SAML App Integration 2
</a>